Containers
.DS_Store
carbonpipeline.egg-info
carbonpipeline/__pycache__/*
datasets/
outputs/
notebook.ipynb
out.csv
predictors.csv
data.csv
manifest.json
out.nc
unzip/
test.nc
merge_era5_and_co2_proc.ipynb
merge_era5_and_wtd_proc.ipynb
EcoPerceiver/
*.nc
carbonpipeline/__pycache__/
carbonpipeline/Processing/__pycache__/
carbonpipeline/Geometry/__pycache__/
../.idea/
.idea/